<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own css file.  Note how we can link directly here and not -->
<!-- write any routing code in the Flask application. -->
<link rel="stylesheet" href="/static/jumble.css" />

</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
<!-- Vocabularly words layed out in 6 columns;
  -- bootstrap may collapse to fewer columns and
  -- more rows if the window is narrow.
  -->
<div class="row">
  {% for word in g.vocab %}
    <div class="col-xs-2 text-center"> {{ word }} </div>
    {% if loop.index is divisibleby 3 %}
    </div> <!-- row -->
    <div class="row">
    {% endif %}
  {% endfor %}
</div> <!-- row -->

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   Use letters from
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center lead">
    <strong>{{ session.jumble }}</strong>
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center">
    to spell {{session.target_count}} words from the list.
  </div> <!-- col -->
</div> <!-- row -->
<br />
<div class="row">
  <div class="col-xs-6 text-center">
  <form id="entry">
    <label for="attempt">Word:</label>
    <input id="attempt" name="attempt" type="text" width="15"
      autocomplete="off"  autofocus />
  </form>
</div></div> <!-- row -->

<p id="response"> </p>
<p id="answers"> Words found:  </p>

<script>

//supress normal form submission
$("#entry").submit( function(envent) {
    event.preventDefault();
    });

$("#attempt").keyup(function(event) {
    //trigger this function whenever a key is pressed
    var success_URL = "{{url_for("success")}}";
    var txt = $("#attempt").val();
    var keycode = event.which;
    var letter = String.fromCharCode(keycode)
    //only continue if the key corresponds to a letter 
    if(! "ABCDEFGHIJKLMNOPQRSTUVWXYZ".includes(letter)) {return}

    $.getJSON("_auto_check", { text:txt },
               //get data from _auto_check in flask_vocab.py 
               function(data) {
                 rsval = data.result.found_word;//has a new word been found
                 already_found = data.result.already_found;//has the word already been found
                 in_jumble = data.result.in_jumble;//can the word be formed from the jumble
                 console.log("rsval: " + rsval)
                 cur_input = $("#attempt").val();//store the word in a variable for easy reference
		 if (rsval) { //if a new word was found
                     $("#response").html("You've found " + cur_input + "!");
                     $("#answers").append( cur_input + " ");
                     $("#attempt").val("");
                     //if enough matches have been found, redirect to the success screen
                     if(data.result.done) { window.location.replace("{{url_for("success")}}"); }
                 } else if (already_found) {
                     $("#response").html("You've already found " + cur_input);
                 } else if (! in_jumble) {
                     $("#response").html(cur_input + " can't be formed from the jumble");
                 } else { 
                     $("#response").html("Keep looking...");
                 }   
               }
             );
    });
    
</script>


 </div> <!-- container -->
</body> </html>
